/* body {
    background-color: #000000;
    color: white;
    font-family: sans-serif;
    padding: 20px;
  } */
  .main-since {
    background-color: #000000;
    color: white;
    font-family: sans-serif;
    padding: 20px;
  }

 .faq-section h2 {
    text-align: center;
    color: #10d0f2;
    padding: 15px;
  }

  .faq-section {
    max-width: 400px;
    margin: auto;
  }

  .faq-title {
    color: #00abf0;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .faq-item {
    background-color: #1c1c1c;
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    cursor: pointer;
    position: relative;
  }

  .faq-item:hover {
    background-color: #2a2a2a;
  }

  .faq-item::after {
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 20px;
  }

  .faq-answer {
    display: none;
    margin-top: 10px;
    color: #ccc;
  }

  .active .faq-answer {
    display: block;
  }

  .active::after {
    content: '-';
  }

  /* a {
    color: #aaf;
    text-decoration: underline;
  } */