:root{
    --white:#ffff;
    --black:#000000;
    --dark:#232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #6b6969;
    --hospital-green:#ACD9B2;
    --sm:14px;
    --md:16px;
    --lg:18px;
}

/*
body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background: #606364; 
} */

.login{
    width: 100%; /*Ocupa el 100% de la pantalla*/
    height: 100vh;/*view height*/
    display: grid; /*Grid para utilizar la propiedad place-items*/
    place-items: center;/*Centra el contenido tando vertical como horizontal, ocupando solo dos lineas*/
}

/*Seguir secuencia de la estructura html*/
.form-container{
    display: grid; /*Estructura de cuadrados*/
    grid-template-rows: auto 1fr auto; /*La parte superior tomara el espacio que desee (auto), 1fr tomara una fraccion para los inputs de password y auto para que sea el contenido que sobre*/
    width: 300px; /*Tendra un espacio de 300px*/
}

.logo{
    width: 150px; /*Hacerlo grande-YC -> 250*/
    /*Agrgarle margen, centrarlo */
    margin-bottom: 28px;/*Margen de abajo YC -> 28PX*/
    justify-self: center;/*Centrarlo en la grid que ya tenemos*/
    display: none; /*Para que desaparesca*/
}

.form{
    display: flex;
    flex-direction: column;    
}

.form a{
    color: #10D0F2;
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 54px;
}
.title{
    font-size: var(--lg);
    margin-bottom: 30px;
    text-align: start;
    color: var(--white);
}
.form div{
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--sm);
    font-weight: bold; /*Grosor de la fuente*/
    margin-bottom: 4px;
    color: var(--white);
}

.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}
.input-name,
.input-email,
.input-password{
    margin-bottom: 22px;
} 
/*Sign Up*/
.input-email{
    margin-bottom: 22px;
}
/*Boton*/
.primary-button{
    background-color: #10D0F2;
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;/*Sea del tamaño completo*/
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
/*Boton de Sign Up*/
.secondary-button{
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid #10D0F2;
    color: #10D0F2;
    width: 100%;/*Sea del tamaño completo*/
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.login-button{
    margin-top: 14px;
    margin-bottom: 30px;
}
/*Los estilos de arriba, funcionarán para todas las medidas que sean grandes despues de la medida, que se agreguemos aqui
*/
@media (max-width: 640px){

    .form-container {
        height: 100%;
    }
    .form {
        height: 100%;
        justify-content: space-between; /**/
    }
    
    .login {
        margin-top: 55px;
        }
}
